/* Containers */
.container {
  display: flex;
  background-color: rgb(57, 57, 57);
  color: white;
  justify-content: flex-end;
}

.container > * {
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  gap: 30px;
}

.container > div p {
  opacity: 0.7;
  margin: 0.4rem 0;
  font-size: 1.2rem;
}

.container > div p:hover {
  cursor: pointer;
  opacity: 1;
}

.musContainer {
  flex: 1 1 30%;
  margin-right: 20%;
}

.aboutContainer, 
.servicesContainer, 
.otherContainer{
  flex: 2 1 20%;
}

/* Headings */

/* Text */

.pList {
  font-size: 1.2rem;
}

/* Icons */

.icon {
  width: 35px;
  margin: 0 0.3rem;
}

.icon:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
  border-radius: 50%;
}