.navContainer {
  background-color: rgb(45, 45, 45);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  padding-left: 5rem;
  width: 200px;
}

.navLinks {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 5rem;
}

.navLink {
  composes: oswald-light from '../App.css';
}

.navLink:hover {
  cursor: pointer;
  background-color: #ff6600;
  border-radius: 0.2rem;
  transition: 0.3s ease-in-out;
  padding: 0.5rem 1rem;
}

.search {
  width: 1.7rem;
  margin-right: 3.5rem;
}